:root {
    --primary-bg-color: #333;
    --secondary-bg-color: #444;
    --highlight-color: #ff6600;
    --text-color: #fff;
    --font-size: 18px;
    --spacing: 15px;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #1a1a1a;
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin-bottom: 500px;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px; 
    height: 100px;
}

button {
  background-color: antiquewhite;
    border: none;
   
    display: flex;
    align-items: center;
    justify-content: center;
}

box-icon {
    width: 40px;
    height: 40px;
}




header {
    text-align: center;
    margin-bottom: 50px;
}

.header_logo {
    font-size: 36px;
    font-weight: bold;
    text-transform: uppercase;
}

.project-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.project {
    
    padding: 20px;
    margin-bottom: 40px;

    width: 100%;
    max-width: 800px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease;
}

.project:hover {
    transform: scale(1.05);
}

.project img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.popo {
    font-size: 16px;
    font-weight: bold;
}

.Description {
    margin-top: 10px;
    font-size: 16px;
}

a button{

    text-decoration: none;
    background-color: #74b7f5;
}


@media (max-width: 768px) {
    .button {
        position: relative;
        bottom: 50px; 
        margin-bottom: 150px;
    }
}

.des {
    background: rgba(255, 102, 0, 0.8); 
    padding: 10px;
    border-radius: 8px;
    font-size: 16px;
    line-height: 1.5;
    color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease;
}

.des:hover {
    transform: scale(1.05);
}
